/* Nave bar */
.navbar {
    background-color: #74c69d;
    height: 120px;
}

.nav-item {
    font-size: 20px;
    margin: 5px;
}

.navbar-nav li a {
    text-align: right;
}

.km-logo {
    height: 175px;
    width: 175px;
    margin-left: -10px;
}

/* Hero Image */

.km-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-text {
    text-align: center;
    font-size: 50px;
    color: #000000;
    margin-top: -120px;
    font-family: 'Blinker', sans-serif;
}


/* .box {
    border: rgb(182, 181, 181) 2px solid;
    padding: 10px;
    width: 550px;
    margin: 20px;
    background-color:rgb(182, 181, 181);
    justify-items: center;
}

.hero-text {
    margin-top: 25px;
    margin-left: 25px;
    font-weight: 600;
    font-size: 90px;
    color: #001d3d;
}

p {
    font-size: 30px;
    color: #001d3d;
    width: 400px;
    margin-left: 25px;
} */

/* Hero video */

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* About-section  */

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    /* height: 500px; */
}

.about-info {
    font-size: 20px;
    width: 550px;
}

/* About-profile-image */

.headshot {
    width: 400px;
    height: 300px;

    --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
    --m:
      left   var(--_i,0%) top    var(--_g),
      bottom var(--_i,0%) left   var(--_g),
      top    var(--_i,0%) right  var(--_g),
      right  var(--_i,0%) bottom var(--_g);
    -webkit-mask: var(--m);
            mask: var(--m);
    filter: grayscale();
    transition: .3s linear;
    cursor: pointer;
}

.headshot:hover {
    --_i: 10%;
    filter: grayscale(0);
}

.headshot-container {
    display: flex;
    align-items: center;
}

/* portfolio card */

.card {
    /* border: #000 solid 3px; */
    /* padding: 50px; */
    margin: 50px;
}

.pcard {
    margin-left: 65px;
    margin-top: 100px;
}


  



/* media screen */

@media screen and (max-width: 990px) {
    .navbar-toggler {
        position: static;
        margin-top: -60px;
    }

    .km-logo {
        margin-top: -40px;
    }
}




