/* ------------ index.html ------------ */
/* Nave bar */
.navbar {
    background-color: #74c69d;
    height: 120px;
}

.nav-item {
    font-size: 20px;
    margin: 5px;
}

.navbar-nav li a {
    text-align: right;
}

.km-logo {
    height: 175px;
    width: 175px;
    margin-left: -10px;
}

/* Hero Image */

.km-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.hero-text {
    text-align: center;
    font-size: 50px;
    color: #000000;
    margin-top: -130px;
    font-family: 'Blinker', sans-serif;
}

/* Hero video */

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* Footer */


.social li {
    display:inline-block;
    font-size: 40px;
    text-align: right;
    justify-content: space-around;
    padding: 15px;
    color: black;
    text-decoration: none;
}

ul.social {
    text-align: center;
    margin-right: 50px;
}

.link-color {
    color: black;
}

/* --------- About-section -------------- */

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    /* height: 500px; */
}

.about-info {
    font-size: 20px;
    width: 550px;
}

/* About-profile-image */

.headshot {
    width: 400px;
    height: 300px;

    --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
    --m:
      left   var(--_i,0%) top    var(--_g),
      bottom var(--_i,0%) left   var(--_g),
      top    var(--_i,0%) right  var(--_g),
      right  var(--_i,0%) bottom var(--_g);
    -webkit-mask: var(--m);
            mask: var(--m);
    filter: grayscale();
    transition: .3s linear;
    cursor: pointer;
}

.headshot:hover {
    --_i: 10%;
    filter: grayscale(0);
}

.headshot-container {
    display: flex;
    align-items: center;
}

/* ------------ Portfolio.html --------------- */

/* portfolio card */

.card {
    /* border: #000 solid 3px; */
    /* padding: 50px; */
    margin: 50px;
    transition: 0.3s;
}

.pcard {
    margin-left: 65px;
    margin-top: 100px;
}

.card:hover {
    margin-top: 92px;
    cursor: pointer;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.background {
    background-image: url("../asset/images/green-753533.png");
}

.background-s{
    background-image: url("../asset/images/hd-wallpaper-g7eb6ba4e3_1920.jpg");
}


/* ------------ skill.html --------------- */

.container-skill {
    width: 50%;
    margin: 0 auto;
}

@keyframes load {
    from {
      width: 0%
    }
}
  
@-webkit-keyframes load {
    from {
      width: 0%
    }
}

@-moz-keyframes load {
    from {
      width: 0%
    }
}
  
@-o-keyframes load {
    from {
      width: 0%
    }
}
  
.bar {
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.bar::before {
    content:  attr(data-skill);
    background-color: #17ebf7;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}
  
.bar.front::before {
    background-color: #ff8f33;
}

.bar.frontc::before {
    background-color: #6633ff;
}
 
.bar.back::before {
    background-color: #81bddb;
}
.bar.backj::before {
    background-color: #ffcc33;
}
  
.bar.learning::before {
    width: calc(65% - 10px);
}

.bar.basic::before {
    width: calc(40% - 10px);
}

.bar.intermediate::before {
    width: calc(60% - 10px);
}
  
.bar.advanced::before {
    width: calc(80% - 10px);
}
  
.bar.expert::before {
    width: calc(90% - 10px);
}

.container-skill h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin:  15px;
}

.circle-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  150px;
}

.box {
    /* background-color: #f5f0f0;
    padding: 3em 3em;
    position: relative;
    border-radius: 20px; */
    margin: auto;
}

.percentage {
    position: relative;
    justify-content: space-between;
}

svg {
    height: 150px;
    width: 150px;
}

svg circle{
    fill: none;
    stroke: #74c69d;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: circle 2s forwards;
}

svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #d3d6d5;
    animation: 0;
}

svg circle:nth-child(2){
    animation: circle 2s forwards;
}

svg.team {
    height: 150px;
    width: 150px;
}

svg.team circle{
    fill: none;
    stroke: #74c69d;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: circle 2s forwards;
}

svg.team circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #d3d6d5;
    animation: 0;
}

svg.team circle:nth-child(2){
    animation: circle 2s forwards;
}


svg.communication {
    height: 150px;
    width: 150px;
}

svg.communication circle{
    fill: none;
    stroke: #74c69d;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 570;
    stroke-dashoffset: 570;
    animation: circle 2s forwards;
}

svg.communication circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #d3d6d5;
    animation: 0;
}

svg.communication circle:nth-child(2){
    animation: circle 2s forwards;
}


svg.project {
    height: 150px;
    width: 150px;
}

svg.project circle{
    fill: none;
    stroke: #74c69d;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: circle 2s forwards;
}

svg.project circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #d3d6d5;
    animation: 0;
}

svg.project circle:nth-child(2){
    animation: circle 2s forwards;
}


@keyframes circle {
    to {
        stroke-dashoffset: 220;
    }
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 2em;
    font-weight: 400;
    color: #74c69d;
}

.professional {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.center {
    position: relative;
    left: 30%;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}

section.circle-area {
    margin-top: 15px;
    margin-bottom: 15px;
}
  










/* media screen */

@media screen and (max-width: 990px) {
    .navbar-toggler {
        position: static;
        margin-top: -60px;
        background-color: transparent;
    }

    /* .navbar-toggler {
        display: inline;
        border: 0;
        background-color: transparent;
        font-size: 30px;
        align-self: flex-end;
    } */

    .km-logo {
        margin-top: -40px;
    }

    section.circle-area {
        display: flex;
        flex-wrap: wrap;
    }

    h1.center {
        display: flex;
        font-size: x-large;
    }
}

